body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.diagram-container {
    position: relative;
    display: inline-block;
}

.hotspot {
    position: absolute;
    border: 2px solid red;
    border-radius: 50%;
    cursor: pointer;
}

.image {
    position: absolute;
    top: 20px;
    left: -350px;
}

#overview {
    top: -85px;
    left: 300px;
    width: 70px;
    height: 70px;
}

#rnode1 {
    top: 25px;
    left: 300px;
    width: 95px;
    height: 95px;
}

#l1-node1 {
    top: 220px;
    left: 45px;
    width: 95px;
    height: 95px;
}

#l1-node2 {
    top: 225px;
    left: 295px;
    width: 95px;
    height: 95px;
}

#l1-node3 {
    top: 220px;
    left: 560px;
    width: 95px;
    height: 95px;
}

#l2-node1 {
    top: 415px;
    left: 305px;
    width: 95px;
    height: 95px;
}

#l2-node2 {
    top: 415px;
    left: 575px;
    width: 95px;
    height: 95px;
}