body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.diagram-container {
    position: relative;
    display: inline-block;
}

.hotspot {
    position: absolute;
    border: 2px solid red;
    border-radius: 50%;
    cursor: pointer;
}

.image {
    position: absolute;
    top: 20px;
    left: -350px;
}

#overview {
    top: -85px;
    left: 300px;
    width: 70px;
    height: 70px;
}

#doverview {
    top: -60px;
    left: 300px;
    width: 70px;
    height: 70px;
}

#doverview_startletter {
    top: -60px;
    left: 55px;
    width: 70px;
    height: 70px;
}

#rnode1 {
    top: 25px;
    left: 300px;
    width: 95px;
    height: 95px;
}

#drnode1 {
    top: 80px;
    left: 260px;
    width: 95px;
    height: 95px;
}

#l1-node1 {
    top: 220px;
    left: 45px;
    width: 95px;
    height: 95px;
}

#dl1-node1 {
    top: 270px;
    left: 55px;
    width: 95px;
    height: 95px;
}

#l1-node2 {
    top: 225px;
    left: 295px;
    width: 95px;
    height: 95px;
}

#dl1-node2 {
    top: 270px;
    left: 265px;
    width: 95px;
    height: 95px;
}

#l1-node3 {
    top: 229px;
    left: 565px;
    width: 95px;
    height: 95px;
}

#dl1-node3 {
    top: 260px;
    left: 615px;
    width: 95px;
    height: 95px;
}

#l2-node1 {
    top: 425px;
    left: 295px;
    width: 95px;
    height: 95px;
}

#l2-node2 {
    top: 415px;
    left: 570px;
    width: 95px;
    height: 95px;
}

#dl2-node1 {
    top: 460px;
    left: 125px;
    width: 95px;
    height: 95px;
}

#dl2-node2 {
    top: 460px;
    left: 325px;
    width: 95px;
    height: 95px;
}

#dl2-node3 {
    top: 455px;
    left: 535px;
    width: 95px;
    height: 95px;
}

#dl2-node4 {
    top: 455px;
    left: 735px;
    width: 95px;
    height: 95px;
}