body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.diagram-container {
    position: relative;
    display: inline-block;
}

.hotspot {
    position: absolute;
    border: 2px solid red;
    border-radius: 50%;
    cursor: pointer;
}

.image {
    position: absolute;
    top: 20px;
    left: -350px;
}

#overview {
    top: -85px;
    left: 300px;
    width: 70px;
    height: 70px;
}

#rnode1 {
    top: 20px;
    left: 300px;
    width: 95px;
    height: 95px;
}

#l1-node1 {
    top: 220px;
    left: 40px;
    width: 95px;
    height: 95px;
}

#l1-node2 {
    top: 200px;
    left: 280px;
    width: 30px;
    height: 30px;
}

#l1-node3 {
    top: 200px;
    left: 490px;
    width: 30px;
    height: 30px;
}

#l2-node1 {
    top: 370px;
    left: 280px;
    width: 30px;
    height: 30px;
}

#l2-node2 {
    top: 370px;
    left: 560px;
    width: 30px;
    height: 30px;
}